* text=auto !eol
/INSTALL -text
/Makefile -text
config/2gig/ct100.xml -text
config/2gig/ct30.xml -text
config/BeNext/AlarmSound.xml -text svneol=unset#application/xml
config/BeNext/DoorSensor.xml -text
config/BeNext/EnergySwitch.xml -text
config/BeNext/TagReader.xml -text
config/act/lfm20.xml -text
config/act/zdw103.xml -text
config/act/zdw232.xml -text
config/act/zrw103.xml -text
config/aeon_labs/alms.xml -text
config/aeon_labs/doorwindow.xml -text
config/aeon_labs/hem.xml -text
config/aeon_labs/keyfob.xml -text
config/aeon_labs/ses.xml -text
config/danfoss/living.xml -text
config/danfoss/z.xml -text
config/device_classes.xsd -text
config/device_configuration.xsd -text
config/duwi/ZWES1000.xml -text
config/eurotronic/eur_stellaz.xml -text
config/everspring/an145.xml -text
config/everspring/an158.xml -text
config/everspring/se812.xml -text
config/everspring/sf812.xml -text
config/everspring/sp103.xml -text
config/everspring/sp814.xml -text
config/everspring/st814.xml -text
config/everspring/st815.xml -text
config/everspring/tse03.xml -text
config/everspringct/hsm02.xml -text
config/fibaro/fgbs001.xml -text
config/fibaro/fgd211.xml -text
config/fibaro/fgfs101.xml -text
config/fibaro/fgk001.xml -text
config/fibaro/fgr221.xml -text
config/fibaro/fgrgbwm441.xml -text
config/fibaro/fgrm222.xml -text svneol=unset#application/xml
config/fibaro/fgs211.xml -text
config/fibaro/fgs221.xml -text
config/fibaro/fgss101.xml -text
config/fibaro/fgwpe.xml -text
config/frostdale/fdn2nxx.xml -text
config/ge/dimmer.xml -text
config/ge/dimmer_module.xml -text
config/ge/relay.xml -text
config/greenwave/powernode1.xml -text
config/greenwave/powernode6.xml -text
config/homeseer/ztroller.xml -text
config/honeywell/th8320zw1000.xml -text
config/horstmann/hrt4zw.xml -text
config/intermatic/ca8900.xml -text
config/leviton/rzi10.xml -text
config/leviton/vrcpg.xml -text
config/leviton/vrf01.xml -text
config/leviton/vri06.xml -text
config/leviton/vri10.xml -text
config/manufacturer_specific.xsd -text
config/northq/nq92021.xml -text
config/options.xsd -text
config/rcs/em52-zw.xml -text
config/rcs/pm12-zw.xml -text
config/rcs/therm0005.xml -text
config/rcs/therm0007.xml -text
config/rcs/therm0009.xml -text
config/remotec/zurc.xml -text
config/remotec/zxt-120.xml -text
config/schlagelink/itemp.xml -text
config/trane/TZEMT400BB32MAA.xml -text
config/waynedalton/WDTC-20.xml -text
config/wenzhou/tz88.xml -text
config/zwave.me/ZME_06433.xml -text
config/zwave.me/ZME_06436.xml -text
config/zwave.me/kfob.xml -text
config/zwcfg.xsd -text
config/zwscene.xsd -text
cpp/build/Makefile -text
cpp/build/libopenzwave.pc.in -text
cpp/build/support.mk -text
cpp/build/windows/installer/buildall.bat -text
cpp/build/windows/installer/openzwave.nsi -text
cpp/build/windows/mingw32/Makefile -text
cpp/build/windows/vs2008/OpenZWave.sln -text
cpp/build/windows/vs2008/OpenZWave.vcproj -text
cpp/build/windows/vs2010/OpenZWave.sln -text
cpp/build/windows/vs2010/OpenZWave.vcxproj -text
cpp/build/windows/vs2010/OpenZWave.vcxproj.filters -text
cpp/build/windows/winversion.ini -text
cpp/build/windows/winversion.tmpl -text
cpp/examples/MinOZW/MinOZW.in -text
cpp/examples/windows/MinOZW/Main.cpp -text
cpp/examples/windows/MinOZW/vs2008/MinOZW.sln -text
cpp/examples/windows/MinOZW/vs2008/MinOZW.vcproj -text
cpp/examples/windows/MinOZW/vs2010/MinOZW.sln -text
cpp/examples/windows/MinOZW/vs2010/MinOZW.vcxproj -text
cpp/examples/windows/MinOZW/vs2010/MinOZW.vcxproj.filters -text
cpp/hidapi/Makefile.am -text
cpp/hidapi/bootstrap -text
cpp/hidapi/configure.ac -text
cpp/hidapi/libusb/Makefile-manual -text
cpp/hidapi/libusb/Makefile.am -text
cpp/hidapi/libusb/Makefile.freebsd -text
cpp/hidapi/libusb/Makefile.linux -text
cpp/hidapi/libusb/hid.c -text
cpp/hidapi/linux/Makefile-manual -text
cpp/hidapi/linux/Makefile.am -text
cpp/hidapi/m4/ax_pthread.m4 -text
cpp/hidapi/m4/pkg.m4 -text
cpp/hidapi/mac/Makefile-manual -text
cpp/hidapi/mac/Makefile.am -text
cpp/hidapi/pc/hidapi-hidraw.pc.in -text
cpp/hidapi/pc/hidapi-libusb.pc.in -text
cpp/hidapi/pc/hidapi.pc.in -text
cpp/hidapi/udev/99-hid.rules -text
cpp/hidapi/windows/Makefile-manual -text
cpp/hidapi/windows/Makefile.am -text
cpp/hidapi/windows/Makefile.mingw -text
cpp/hidapi/windows/ddk_build/hidapi.def -text
cpp/hidapi/windows/ddk_build/makefile -text
cpp/hidapi/windows/ddk_build/sources -text
cpp/hidapi/windows/hid.cpp -text
cpp/hidapi/windows/hidapi.sln -text
cpp/hidapi/windows/hidapi.vcproj -text
cpp/hidapi/windows/hidtest.vcproj -text
debian/Makefile -text
debian/changelog -text
debian/compat -text
debian/control -text
debian/copyright -text
debian/format -text
debian/libopenzwave1.0-dev.install -text
debian/libopenzwave1.0.install -text
debian/libopenzwave1.0.links -text
debian/libopenzwave1.0.lintian-overrides -text
debian/openzwave.install -text
debian/patches/series -text
debian/postinst -text
debian/rules -text
debian/shlibs.libopenzwave1.0 -text
debian/source/format -text
debian/version-increment.sh -text
/dist.mk -text
/distfiles.mk -text
docs/Doxyfile.in -text
docs/images+css/Doxywizard1.JPG -text
docs/images+css/Doxywizard2.JPG -text
docs/images+css/Doxywizard3.JPG -text
docs/images+css/Doxywizard4.JPG -text
docs/images+css/Doxywizard5.JPG -text
docs/images+css/image003.gif -text
dotnet/build/vs2008/OpenZWaveDotNet.sln -text
dotnet/build/vs2010/OpenZWaveDotNet.sln -text
dotnet/build/vs2010/OpenZWaveDotNet.vcxproj -text
dotnet/build/vs2010/OpenZWaveDotNet.vcxproj.filters -text
dotnet/examples/OZWForm/CopyFilesVS2008.cmd -text
dotnet/examples/OZWForm/CopyFilesVS2010.cmd -text
dotnet/examples/OZWForm/README.TXT -text
dotnet/examples/OZWForm/build/vs2008/OZWForm.csproj -text
dotnet/examples/OZWForm/build/vs2008/OZWForm.sln -text
dotnet/examples/OZWForm/build/vs2010/OZWForm.csproj -text
dotnet/examples/OZWForm/build/vs2010/OZWForm.sln -text
dotnet/examples/OZWForm/src/ConfigurationWakeUpDlg.Designer.cs -text
dotnet/examples/OZWForm/src/ConfigurationWakeUpDlg.cs -text
dotnet/examples/OZWForm/src/ConfigurationWakeUpDlg.resx -text
dotnet/examples/OZWForm/src/ControllerCommandDlg.Designer.cs -text
dotnet/examples/OZWForm/src/ControllerCommandDlg.cs -text
dotnet/examples/OZWForm/src/ControllerCommandDlg.resx -text
dotnet/examples/OZWForm/src/MainForm.Designer.cs -text
dotnet/examples/OZWForm/src/MainForm.cs -text
dotnet/examples/OZWForm/src/MainForm.resx -text
dotnet/examples/OZWForm/src/Node.cs -text
dotnet/examples/OZWForm/src/NodeForm.Designer.cs -text
dotnet/examples/OZWForm/src/NodeForm.cs -text
dotnet/examples/OZWForm/src/NodeForm.resx -text
dotnet/examples/OZWForm/src/Program.cs -text
dotnet/examples/OZWForm/src/Properties/AssemblyInfo.cs -text
dotnet/examples/OZWForm/src/Properties/Resources.Designer.cs -text
dotnet/examples/OZWForm/src/Properties/Resources.resx -text
dotnet/examples/OZWForm/src/Properties/Settings.Designer.cs -text
dotnet/examples/OZWForm/src/Properties/Settings.settings -text
dotnet/examples/OZWForm/src/ValuePanel.Designer.cs -text
dotnet/examples/OZWForm/src/ValuePanel.cs -text
dotnet/examples/OZWForm/src/ValuePanel.resx -text
dotnet/examples/OZWForm/src/ValuePanelBool.cs -text
dotnet/examples/OZWForm/src/ValuePanelBool.resx -text
dotnet/examples/OZWForm/src/ValuePanelButton.cs -text
dotnet/examples/OZWForm/src/ValuePanelButton.resx -text
dotnet/examples/OZWForm/src/ValuePanelByte.cs -text
dotnet/examples/OZWForm/src/ValuePanelByte.resx -text
dotnet/examples/OZWForm/src/ValuePanelDecimal.cs -text
dotnet/examples/OZWForm/src/ValuePanelDecimal.resx -text
dotnet/examples/OZWForm/src/ValuePanelInt.cs -text
dotnet/examples/OZWForm/src/ValuePanelInt.resx -text
dotnet/examples/OZWForm/src/ValuePanelList.cs -text
dotnet/examples/OZWForm/src/ValuePanelList.resx -text
dotnet/examples/OZWForm/src/ValuePanelShort.cs -text
dotnet/examples/OZWForm/src/ValuePanelShort.resx -text
dotnet/examples/OZWForm/src/ValuePanelString.cs -text
dotnet/examples/OZWForm/src/ValuePanelString.resx -text
dotnet/examples/OZWForm/src/app.config -text
dotnet/src/ZWOptions.cpp -text
dotnet/src/ZWOptions.h -text
dotnet/src/app.ico -text
dotnet/src/app.rc -text
license/license.txt -text
/makedist -text
/openzwave.dsc -text
/openzwave.spec -text
